<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet">
<style>
* {
  box-sizing: border-box;
}

main {
  background-color: rgba(255,228,196, 0.0);
}

body {
  background-color: rgba(255,228,196, 0.3);
}

#regForm {
  background-color: #ffffff;
  margin: 50px auto;
  font-family: Raleway;
  padding: 40px;
  width: 70vw;
  border: 2px solid #aaaaaa;
}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

input.invalid {
  background-color: #ffdddd;
}

.tab {
  display: none;
}

#questionTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

#questionSubTitle {

  margin-bottom: 10px;
}

.btn {
  background-color: #92a8d1;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

#textPart {
  display: inline-block;
  width: 20%;
}

#okButton {
  float: right;
}

#prevBtn {
  background-color: #bbbbbb;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

.step.finish {
  background-color: #92a8d1;
}

#opens {
    background-color: LightGray;
    margin-top: 10px;
}
</style>
<body>
  <!-- Klasse, um Questionnaire-Data zu parsen und @stepCount zu setzen -->
<% if @question.length % 5 == 0
    @stepCount = @question.length / 5
   else
    @stepCount = (@question.length / 5).round + 1
   end
   puts "setCount: " + @stepCount.to_s
 %>
<!-- action="/finish_questionnaire"   -->
<form id="regForm" action="/finish_questionnaire" style="border-radius: 25px;">
  <h1 id="questionnaire_name">Questionnaire</h1>
<!-- Einzelne Sets nach @stepCount -->

<% for i in 0..@stepCount - 1 do %>
<div class="tab">
  <div class="form-group" >
<!--  <div class="form-group"> -->
<% @bound = i == 0 ? 0 : i*4 + 1 %>
<% puts "bound value: " + @bound.to_s %>
<% for j in @bound..@bound + 4 do %>
<% @element_question = @question[j] %>
<% if @element_question != nil %>
<% puts "elem-question: " + @element_question.to_s %>
<!--    <button type="button" class="btn btn-primary btn-block" id='opens'>Question <%= @element_question['order_number'] + 1 %></button> -->
    <label id="questionTitle"> <%= (@element_question['order_number'] + 1).to_s + ' ' + @element_question['question'] %> </label>
<!--    <div class="col-sm-10"> -->
    <div>
      <% if @element_question['answer_type'] == 'input' %>
      <input class="form-control" type="text" name="username" id="textPart" min="<%= @element_question['lower_bound'].to_f %>" max="<%= @element_question['upper_bound'].to_f %>" step="1.0">
      <% else %>
      <select>
        <% @element_question['answer_possibilities'].each do |answer| %>
        <option value="<%= answer %>"><%= answer %></option>
        <% end %>
      </select>
      <% end %>

    <% @subquestions_array = @tempQuestion.define_subquestions(@element_question['id']) %>
    <% @subquestions_array.each do |subquestion| %>
    </br>
    <label id="questionSubTitle"><%= (subquestion['order_number'] + 1).to_s + ' ' + subquestion['question'].to_s %></label>
    <div>
    <% if subquestion['answer_type'] == 'input' %>
        <input class="form-control" type="text" name="username" id="textPart" min="<%= subquestion['lower_bound'].to_f %>" max="<%= subquestion['upper_bound'].to_f %>" step="1.0">
          <%= subquestion['answer_comment'] %>
    <% else %>
      <select>
        <% subquestion['answer_possibilities'].each do |answer| %>
        <option value="<%= answer %>"><%= answer %></option>
    <% end %>
      </select>
    <% end %>
  </div>
  <% end %>
  </div>
<!--  </div> -->
<% end %>
<% end %>
</div>
</div>
<!-- <div class="tab">
  <table class="table table-striped table-bordered">
  <col width="5">
  <col width="130">
  <col width="130">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>


    <% @bound = i == 0 ? 0 : i*4 + 1 %>
    <% puts "bound value: " + @bound.to_s %>
    <% for j in @bound..@bound + 4 do %>
    <% @element_question = @question[j] %>
    <% if @element_question != nil %>
    <% puts "elem-question: " + @element_question.to_s %>
    <tr>
      <th scope="row"><%= @element_question['order_number'] + 1 %></th>
      <td><%= @element_question['question'] %></td>
      <td>
        <% if @element_question['answer_type'] == 'input' %>
          <form>
            <input type="text" name="username" id="textPart" min="<%= @element_question['lower_bound'].to_f %>" max="<%= @element_question['upper_bound'].to_f %>" step="1.0">
              <%= @element_question['answer_comment'] %>
          </form>
      <% else %>
        <select>
          <% @element_question['answer_possibilities'].each do |answer| %>
          <option value="<%= answer %>"><%= answer %></option>
          <% end %>
        </select>
      <% end %>
    </td>
    </tr>
    <% end %>
    <% @subquestions_array = @tempQuestion.define_subquestions(@element_question['id']) %>
    <% @subquestions_array.each do |subquestion| %>
    <tr>
      <td>
        <i class="fa fa-angle-double-right" style="font-size:20px"></i>
        <%= @element_question['id'].to_s + '_' + (subquestion['order_number'] + 1).to_s %>
      </td>

      <td><%= subquestion['question'].to_s %></td>
      <td>
        <% if subquestion['answer_type'] == 'input' %>
          <form>
            <input type="text" name="username" id="textPart" min="<%= subquestion['lower_bound'].to_f %>" max="<%= subquestion['upper_bound'].to_f %>" step="1.0">
              <%= subquestion['answer_comment'] %>
          </form>
        <% else %>
        <select>
          <% subquestion['answer_possibilities'].each do |answer| %>
          <option value="<%= answer %>"><%= answer %></option>
        <% end %>
        </select>
      <% end %>
    </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div> -->
<% end %>

  <div style="overflow:auto;">
    <div style="float:right;">
      <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="btn">Previous</button>
      <button type="button" id="nextBtn" onclick="nextPrev(1)" class="btn">Next</button>
    </div>
  </div>

  <div style="text-align:center;margin-top:40px;" id="indicators">
    <% for i in 0..@stepCount - 1 %>
      <span class="step"></span>
    <% end %>
  </div>
</form>

<script>
var currentTab = 0;
showTab(currentTab);

function showTab(n) {
  document.getElementById("questionnaire_name").innerHTML = "Questionnaire"
  var tabs = document.getElementsByClassName("tab");
  tabs[n].style.display = "block";

  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (tabs.length - 1)) {
  //  window.alert("last - 1 tab");
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
  //  window.alert("not last tab");
    document.getElementById("nextBtn").innerHTML = "Next";
  }

  calculateSteps(n)
}

function nextPrev(withStep) {
//  window.alert("nextPrev");
  var x = document.getElementsByClassName("tab");
  if (withStep == 1 && !validate()) return false;

  x[currentTab].style.display = "none";
  currentTab = currentTab + withStep;
  if (currentTab >= x.length) {
  //  window.alert("last submit");
  //  var tabToClose = document.getElementById("regForm");
  //  tabToClose.style.display = "none";
    var title = document.getElementById("questionnaire_name");
    title.innerHTML = "Submitting";
    document.getElementById("regForm").submit();
    return false;
  } else {
//    window.alert("not last submit");
    showTab(currentTab);
    return true;
  }
}

function validate() {
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");

  for (i = 0; i < y.length; i++) {

    if (y[i].value == "" || parseFloat(y[i].value) < parseFloat(y[i].min) || parseFloat(y[i].value) > parseFloat(y[i].max)) {
      y[i].className += " invalid";
      valid = false;
    } else {
      y[i].className += "valid";
    }
  }

  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid;
}

function calculateSteps(n) {
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  x[n].className += " active";
}
</script>

</body>
</html>
