<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">

  <script src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/flick/jquery-ui.css">

  <script scr="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.css"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-ui-Slider-Pips/1.11.4/jquery-ui-slider-pips.min.js"></script>
  <style>

  main {
    margin-right: 0px;
    margin-left: 0px;
    background-color: transparent;
  }

  body {
    width: 100vw;
    background-color: rgba(255,228,196, 0.3);
  }

  .wrapper {
    background-color: transparent;
  }

  </style>
</head>
  <body id="body">
    <% path = @dbelems.function_names[0]['path'] == nil ? 'model_functions/textmodel.js' : @dbelems.function_names[0]['path'].to_s %>
    <%= javascript_include_tag path %>
    <div class="wrapper" id="wrapper">
      <div style="display:none"  id="hiddenright">
        <i id="hiddenright" class="fa fa-arrow-right" style="font-size:25px;" role="button">
        </i>
      </div>
      <nav id="sidebar">
          <i id="left" class="fa fa-arrow-left" style="font-size:25px;" role="button"></i>
       <div class="sidebar-header" align="center">
           <h3>Settings</h3>
       </div>
       <ul style="list-style-type:none">
         <% @dbelems.settings_widgets.each do |settings_widgets| %>
         <% @sliderId = 'slider' + settings_widgets['order_number'].to_s %>
         <li id="<%= settings_widgets['order_number'].to_s %>" title="<%= settings_widgets['name'].to_s %>" class="lis"><%= settings_widgets['name'].to_s %>
           <div id="<%= @sliderId %>" class="slider" data="<%= settings_widgets['order_number'].to_s %>">
           </div>
         </li>
         <% end %>
       </ul>

       <p id="hidden" style="display:none;"></p>
   </nav>
   <div id="contentinner">
      <h1>Model <%= @id.to_s %></h1>
      <script src="http://code.highcharts.com/highcharts.js"></script>
      <script src="http://code.highcharts.com/modules/exporting.js"></script>

      <div class="mainContent">
        <div>
          <% @dbelems.output_values.each do |output| %>
          <% puts "tilte: " +  output['title'].to_s %>
          <button id="<%= output['order_number'].to_s %>" type="button" class="autocompare_"><%= output['title'].to_s %></button>
          <% end  %>
        </div>
        <div class="wrapperinner">
          <div id="container1" remote="true" style=" min-height: 400px;"></div>
        </div>
      </div>

      </div>
      <div style="display:none" id="hiddenleft">
        <i id="left" class="fa fa-arrow-left" style="font-size:25px;" role="button">
        </i>
      </div>
<div id="containerinner2">
  <i id="right" class="fa fa-arrow-right" style="font-size:25px;" role="button"></i>
  <div id="container2" remote="true" style="display:none;  min-height: 300px"></div>
</div>
</div>
<script>
var tabsChosen = 0;

$(function() {

  var wrapperwidth = document.getElementById("body").getBoundingClientRect().width;

  var old_chart_options = null;
  var old_chart_series = null;

  var hiddenElem = document.getElementById("hidden");
  var chartType = "line";

  var series = [{
      name: '',
      data: []
  }];

  var chartOptions = {
    chart: { type: "" },
    title: { text: "" },
    plotOptions: { column: {
      minPointLength: 3,
      pointRange: 2,
      pointPadding: 0.2,
      borderWidth: 0,
      stacking: "normal",

    } },
    xAxis: { type: "", categories: [] },
    yAxis: { title: { text: "" } }
 };
$(document).tooltip();

$('#left').on("click", function(event) {
  $('#sidebar').hide();
  $('#hiddenright').show();
});

$('#right').on("click", function(event) {
  $('#containerinner2').hide();
  $('#hiddenleft').show();
});

$('#hiddenright').on("click", function(event) {
  $('#hiddenright').hide();
  $('#sidebar').show();
});

$('#hiddenleft').on("click", function(event) {
  $('#hiddenleft').hide();
  $('#containerinner2').show();
});

$(document).on('ready', function() {
  var dbelems = <%= raw @dbelems.settings_widgets.to_json %>;
    $(".lis").each(function (index, value) {
      var sliderId  = 'slider' + index.toString();

      $('#'+ sliderId).slider({
            min: parseFloat(dbelems[index]['min']),
            max: parseFloat(dbelems[index]['max']),
            step: parseFloat(dbelems[index]['step']),
            values: [parseFloat(dbelems[index]['default_value'])]
          })
          .slider("pips", {
                first: "label",
                last: "label",
                rest: "label",
                step: parseFloat(dbelems[index]['inner_step']),
                labels: false,
                prefix: "",
                suffix: ""
            })
            .slider("float");
    });
  });

 $('.autocompare_').click(function (event) {
     $('#hiddenleft').hide();
     var dbelems = <%= raw @dbelems.output_values.to_json %>;

     old_chart_options = null;
     old_chart_series = null;
     idChosen = parseInt(event.target.id);
     tabsChosen = parseInt(event.target.id);
     chartType = dbelems[idChosen]['chart_type'];

     var title = dbelems[idChosen]['title'];
     chartOptions.chart.type = chartType;
     chartOptions.title = title;
     chartOptions.xAxis.categories = dbelems[idChosen]['xcategories'];
     updateChartWithValues();
 });

  $('.slider').on("slidechange", function(event, ui) {
        var dbelems = <%= raw @dbelems.params_with_default_values.to_json %>;
        var index = parseInt($(this).attr('data'));
        window[dbelems[index]['param_name']] = parseFloat(ui.value);
        chartOptions.title = "previous values";
        hiddenElem.value = chartOptions;

        old_chart_series = chartOptions.series;
        var seriesElement = (chartOptions.series.length == 1) ? 0 : 1;

      //  window.alert("length of series: " + JSON.stringify(old_chart_series));
        old_chart_options = {
          colors: ['#A8A8A8'],
          chart: { type: chartOptions.chart.type },
          title: { text: chartOptions.title },
          plotOptions: {
            column: {
              minPointLength: 2,
              pointRange: 2,
              pointPadding: 0.2,
              borderWidth: 0,
            }
          },
          xAxis: { type: chartOptions.xAxis.type, categories: chartOptions.xAxis.categories},
          yAxis: { title: { text: chartOptions.yAxis.title.text } },
          series: [old_chart_series[seriesElement]]
       };
        updateChartWithValues();
  });

 window.updateChart = function(series) {
  <% puts "update function called" %>
  <% puts "res: " + @dbelems.output_values[0][:order_number].to_s %>
  tabsChosen = parseInt('<%=  @dbelems.output_values[0]['order_number'].to_s %>');
  chartType = "<%= @dbelems.output_values[0]['chart_type'].to_s %>";
  var title = "<%= @dbelems.output_values[0]['title'].to_s %>";
  chartOptions.chart.type = chartType;
  chartOptions.title = title;
  chartOptions.xAxis.categories = <%= raw @dbelems.output_values[0]['xcategories'] %>;
  chartOptions.yAxis.title.text = '<%= raw @dbelems.output_values[0]['yname'] %>';
  updateChartWithValues();
};

window.updateChartWithValues = function() {
    var dbelems = <%= raw @dbelems.output_values.to_json %>;
    var dbfunctions = <%= raw @dbelems.function_names.to_json %>;
    var index = tabsChosen;
    var functionName = dbfunctions[index]['name'];
    var functionName1 = window[functionName];
    var seriesData = functionName1();

    //////////
    var seriesData1 = [];
    var old_chart_options1 = [];

    for(var i = 0; i < seriesData.length; i++ ) {
      var serie1 = {"x": i, "y": parseFloat(seriesData[i])};
      seriesData1.push(serie1);
    };

    if(old_chart_options != null) {
      for(var i = 0; i < old_chart_options.series[0]['data'].length; i++ ) {
        var oldserie1 = {"x": parseFloat(i + 0.1), "y": parseFloat(old_chart_options.series[0]['data'][i]['y'])};
        old_chart_options1.push(oldserie1);
      };
    };

  //  window.alert("series data length: " + JSON.stringify(seriesData1));
  //  window.alert("chart options length: " + JSON.stringify(old_chart_options1));
    ////////////

    if (old_chart_series != null) {
    //  window.alert("chart options != null");
    chartOptions.colors = ['#A8A8A8', '#428bca'];
    chartOptions.series = [{
        name: 'old ' + dbelems[index]['title'].toString(),
        data: old_chart_options1,
      //  data: JSON.parse("[" + old_chart_series1[0]['data'] + "]"),
      //  stack: 'old',
    }, {
        name: dbelems[index]['title'],
        data: seriesData1,
      //  data: seriesData,
      //  stack: 'new',
      }
    ];
  } else {
    chartOptions.colors = ['#428bca'];
    chartOptions.series = [{
        name: dbelems[index]['title'],
        data: seriesData1
      }
    ];
  }

    Highcharts.chart('container1', chartOptions);
    var elementToHide = document.getElementById("container2");
    var containerToHide = document.getElementById("containerinner2");

    if (old_chart_options != null) {
    //  window.alert("json stringify: " + JSON.stringify(old_chart_options));
      $('#hiddenleft').hide();
      if(true) {
        containerToHide.style.display = "block";
        elementToHide.style.display = "block";

        old_chart_options['series'][0]['_colorIndex'] = 0;
    //    window.alert("json stringify2: " + JSON.stringify(old_chart_options));
        Highcharts.chart('container2', old_chart_options);
      }
    } else {
        elementToHide.style.display = "none";
        containerToHide.style.display = "none";
    };
};

updateChart(series);
});

    </script>
  </body>
</html>
