<html lang="en">
<head>
  <title>From Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<h1>Model</h1>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<!-- <div id="spinner" style="display: none">
  <img id="img-spinner" src="/assets/.gif" alt="Loading">
</div> -->
<div class="sk-cube-grid" style="display: none">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<div id="content1" remote="true" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="input">
  <div class="form-group" style="font-size:160%;" id="input_id"><strong>Input:</strong></div>
    <label for="email">Agriculture budget (integer):</label>
    <%= form_for 'show', method: :put, :remote => true do |f| %>
    <%= f.text_field :title1, placeholder: "Agro" %>
  <%#= form_tag :action => 'enter_non_agro' do %>
    <label for="email">Non Agriculture budget (integer):</label>
    <%= f.text_field :title2, placeholder: "Non agro" %>
    <div id="submitdiv" class="form-group">
      <% if !@result_showing %>
      <tbody>
        <tr>
          <td>
            <%= f.submit "Submit" %>
            <%#= link_to 'Submit', '#', method: :put, data: { :disable_with => 'loading...' }, :remote => true, :class => 'delete_pony' %>
          <%#= link_to 'Submit', '#', method: :put, data: { confirm: 'Sure?'}, :remote => true, :class => 'delete_pony' %>
          <%#= link_to 'Submit', '#', method: :put, data: { :disable_with => 'loading...' } %>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
      <% end %>
      </div>
  <% end %>
<!--  <div class="form-group">
    <label for="email">Agriculture budget (integer):</label>
    <input type="email" class="text" id="input_agro_gam" value="">
    </input>
  </div>
  <div class="form-group">
    <label for="email">Non Agriculture budget (integer):</label>
    <input type="email" class="text" id="input_non_gam" value="">
    </input>
  </div> -->
</div>

  <div class="form-group">
    <button id="budget" type="button" class="autocompare">Budget</button>
    <button id="tp" class="autocompare">TP</button>
    <button id="poverty" class="autocompare">Poverty</button>
    <button id="goods2011" class="autocompare">Public_goods_2011</button>
    <button id="goods" class="autocompare">Public_goods</button>
  </div>
  <div class="form-group">
    <%= link_to 'Graph view', graph_path %>
  </div>
   <!-- <# %= button_to 'Submit', button_path, method: :get %> -->

<script>
   $(function() {
     window.alert("javascript found");

     <% graphValue = raw @defaultGraph %>
     <% puts "default graph: " + graphValue %>
     var chartOptions = {
       chart: { type: "column" },
       title: { text: "default chart" },
       xAxis: { type: "column", categories: "" },
       yAxis: { title: { text: "default yAxis" } },
       series: [{name: "Default data", data: [1, 2, 3, 4]}]
     };

     window.updateChart = function() {
      var chartType = "column";
      var title = "default chart";
     // chartOptions.chart.type = chartType;
     // chartOptions.title = title;
      Highcharts.chart('content1', chartOptions);
     };

     updateChart();

     $('.delete_pony').click(function ()  {
      var agro = document.getElementById('input_agro_gam').value;
      var non = document.getElementById('input_non_gam').value;
      if(agro == "" || non == "") {
      window.alert("budget fields should be filled out");
      return;
    } else if (!parseInt(agro) || !parseInt(non)) {
      window.alert("budget fields should be integer");
      return;
    } else {
        agro = parseInt(agro);
        non = parseInt(non);
    //    <%# @input1 %> = agro;
    //    <%# @input2 = %> = non;
    /*    var data = {
          agro_split: {
          input1: agro.to_s,
          input2: non.to_s
        }
      };
        $.ajax({
        type: 'PUT',
        url:  '/view',
        data: data,
        dataType: "JSON",
        success: function(data) {
            console.log(data);
        }
    }); */
      }
     });
   });
/*
Highcharts.chart('content1', {
  chart: { type: "column" },
  title: { text: "default chart" },
  xAxis: { type: "column", categories: "" },
  yAxis: { title: { text: "default yAxis" } }
});
*/

/*
var chartOptions = {
  chart: { type: "column" },
  title: { text: "default chart" },
  xAxis: { type: "column", categories: "" },
  yAxis: { title: { text: "default yAxis" } }
};

window.updateChart = function() {
 var chartType = "column";
 var title = "default chart";
// chartOptions.chart.type = chartType;
// chartOptions.title = title;
 Highcharts.chart('content1', chartOptions);
};

updateChart(); */
</script>
</div>
</body>
</html>
