<html lang="en">
<head>
  <title>From Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
<h1 id="title"><%= @name %></h1>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>
<div class="sk-cube-grid" style="display: none">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<div id="content1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="input">
  <div class="form-group" style="font-size:160%;" id="input_id"><strong>Input:</strong></div>
    <label for="email">Agriculture budget (integer):</label>
    <%= form_for 'show', method: :put, :class => 'updateTitle' do |f| %>
    <%= f.text_field :title1, placeholder: "Agro", :required => true, :pattern => '[0-9]+\.?[0-9]*' %>
    <label for="email">Non Agriculture budget (integer):</label>
    <%= f.text_field :title2, placeholder: "Non agro", :required => true, :pattern => '[0-9]+\.?[0-9]*' %>
    <div id="submitdiv" class="form-group">
      <% if !@result_showing %>
      <tbody>
        <tr>
          <td>
            <%= f.submit "Submit", :id => "submit", data: { :disable_with => 'loading...'}, remote: true %>
            <%#= link_to 'Submit', '#', method: :put, data: { :disable_with => 'loading...' }, :remote => true, :class => 'delete_pony' %>
          </td>
        </tr>
      </tbody>
      <% end %>
      </div>
  <% end %>
</div>

  <div class="form-group">
    <% if  @outputArray == nil || @outputArray == [] %>
    <% else
      @outputArray.each_with_index do |graph, index|
    %>
      <button id='<%= index %>' type="button" class="autocompare1" ><%= @outputArray[index].title %></button>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <%= link_to 'Graph view', graph_path %>
  </div>
  <div class="form-group">
    <%= link_to 'Questionnaire', questionnaire_path %>
  </div>
  <div class="form-group">
    <%= link_to 'Questionnaire 2', questionnaire2_path %>
  </div>

<script>
   $(function() {
    // window.alert("javascript found");

     window.updateChart = function() {
      var chartType = "column";
      var title = "default chart";
      rubyArrayToJavascript();
    //  window.alert("before before: " + finalArray.toString());
      var chartTab = '<%= @tabChosen %>';
    //  window.alert(" tab before: " + chartTab.toString());
      var foundChartOptions = chartOptions();
    //  window.alert("chart option: " + foundChartOptions.title.text);
     <% puts "in update chart <script>" %>
      Highcharts.chart('content1', foundChartOptions);
     };

      function chartOptions() {
        var tc = '<%= @tabChosen %>';
    //    window.alert(" in function: " + tc.toString());
        var chartOptions = {
       <% if @outputArray == nil || @outputArray == [] %>
       <% puts "in default case" %>

       chart: { type: "column" },
       title: { text: "default chart" },
       xAxis: { type: "column", categories: "" },
       yAxis: { title: { text: "default yAxis" } },
       series: [{ name: "Default data", data: [1, 2, 3, 4] }]
       <% else %>
       <% puts "in parsed case" %>
       <% if @tabChosen == nil
            @tabChosen = 0
          end
       %>
        <% puts "chart: "+ @outputArray[@tabChosen].chart %>
         <% puts "title: " + @outputArray[@tabChosen].title  %>
          <% puts "x type:" + @outputArray[@tabChosen].xAxis[:type] %>
           <% puts "x categories" + @outputArray[@tabChosen].xAxis[:categories].to_s %>
            <% puts "y title" + @outputArray[@tabChosen].yAxis[:title] %>
             <% puts "serie name" +  @outputArray[@tabChosen].series[0][0] %>
             <% rawValue = raw @outputArray[@tabChosen].series[0][1] %>
              <% puts "serie data" +  rawValue %>

  /*     chart: { type: "<%#= @outputArray[@tabChosen].chart.to_s %>" },
       title: { text: "<%#= @outputArray[@tabChosen].title.to_s %>" },
       xAxis: { type: "<%#= @outputArray[@tabChosen].xAxis[:type] %>", categories: <%#= raw @outputArray[@tabChosen].xAxis[:categories] %> },
       yAxis: { title: { text: "<%#= @outputArray[@tabChosen].yAxis[:title] %>" } },
       series: [{ name: "<%#= @outputArray[@tabChosen].series[0][0] %>", data: <%#= raw @outputArray[@tabChosen].series[0][1] %> }] */

       chart: { type: finalArray[chosenTab]["chart"]},
       title: { text: finalArray[chosenTab]['title']},
       xAxis: { type: finalArray[chosenTab]['x-type'], categories: finalArray[chosenTab]['x-categories']},
       yAxis: { title: { text: finalArray[chosenTab]['y-title']}},
       series: [{ name: finalArray[chosenTab]['series-name'], data: finalArray[chosenTab]['series']}]
       <% end %>
     };
     return chartOptions;
   };

   var finalArray = [];

   function rubyArrayToJavascript() {
     <% if  @outputArray != nil && @outputArray != []
          @outputArray.each_with_index do |element, index| %>

            var hashedValue = {};
            hashedValue['chart'] = '<%= @outputArray[index].chart.to_s %>';
            hashedValue['title'] = '<%= @outputArray[index].title.to_s %>';
            hashedValue['x-type'] = '<%= @outputArray[index].xAxis[:type] %>';
            hashedValue['x-categories'] = <%= raw @outputArray[index].xAxis[:categories] %>;
            hashedValue['y-title'] = '<%= @outputArray[index].yAxis[:title] %>';
            hashedValue['series-name'] = '<%= @outputArray[index].series[0][0] %>';
            hashedValue['series'] = <%= raw @outputArray[index].series[0][1] %>;

            finalArray.push(hashedValue);
          <% end %>
     <% end %>
   };

     updateChart();

  /*   $('.delete_pony').click(function ()  {
        var agro = document.getElementById('input_agro_gam').value;
        var non = document.getElementById('input_non_gam').value;
      if (agro == "" || non == "") {
        window.alert("budget fields should be filled out");
        return;
    } else if (!parseInt(agro) || !parseInt(non)) {
        window.alert("budget fields should be integer");
        return;
    } else {
        agro = parseInt(agro);
        non = parseInt(non);
      }
    }); */
   });

   var chosenTab = 0;

   $('.autocompare1').click(function(event) {
      chosenTab = parseInt(event.target.id);
    //  window.alert("Tab: " + chosenTab.toString());
      updateChart();
      $('html, body').animate({scrollTop : 0}, 500);
      return false;
   });

</script>
</div>
</body>
</html>
