<% provide(:title, 'Update') %>
<h1>Update</h1>
<div class="container">
  <div class="row">
    <%= link_to 'Cancel', admin_path_url,  { :class => 'p-3 mb-2 bg-info text-white'} %>
  </div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages'%>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control', :value => @user.first_name %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control', :value => @user.last_name %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', :value => @user.email %>

      <%= f.label :role %>
      <%
        role = UserRole.where(["user_id = ?", @user.id]).first
        role_id = role.role_id
        role_name = Role.find(role_id).role_name
       %>
      <%= f.text_field :role, class: 'form-control', :value => role_name %>

      <%= f.submit "Update user", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
</div>
