<!DOCTYPE html>
<% require "pathname" %>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
        <link rel="icon" href="../../../../favicon.ico">
        <title>Prototype1</title>
        <!-- Bootstrap core CSS -->
    <!--  <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
       <!-- Custom styles for this template -->

    <!-- <link href="carousel.css" rel="stylesheet">  -->
    <%= csrf_meta_tags %>
    <script src="/assets/jquery.js" type="text/javascript"></script>
    <script src="/assets/jquery_ujs.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js" integrity="sha384-feJI7QwhOS+hwpX2zkaeJQjeiwlhOP+SdQDqhgvvo1DsjtiSQByFdThsxO669S2D" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
  <header>
<!--    <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: bisque">
      <a class="navbar-brand" href="#" style="color:black">Prototype</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <% if @lang_chosen.nil? %>
           <% @lang_chosen = 'English11' %>
      <% end %>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item dropdown show">
          <a id="langdropdown" class="nav-link dropdown-toggle" href="#" style="color:black" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">English</a>
          <div class="dropdown-menu" aria-labelledby="langdropdown">
            <a class="dropdown-item" href="#">English</a>
            <a class="dropdown-item" href="#">Français</a>
          </div>
          </li>
          <% if logged_in? %>
            <li>
              <%= link_to "", '#', class: "fa fa-user-circle big" %>
            </li>
          <% end %>
          <% found_role_id = user_role
            puts "role id: " + found_role_id.to_s
            RoleHasWidget.where(role_id: @role_id).find_each do |widget_id_foreign|
              widget_id = widget_id_foreign.widget_id
              widget = Widget.find_by(id: widget_id)
              widget_value = widget.value
              widget_path = widget.path
          %>
          <% if logged_in? %>
              <% if widget_value != 'Login' %>
                <% if widget_value == 'Logout' %>
                  <li>
                  <%= link_to widget_value.to_s, widget_path, method: :delete %>
                  </li>
                <% else %>
                  <% if widget_value == 'Admin' %>
                    <li>
                      <%#= link_to "", widget_path, class: "fas fa-user-cog" %>
                      <%= link_to "", widget_path, class: "fa fa-cog fa-2x fa-fws" %>
                    </li>
                  <% else %>
                    <li>
                      <%= link_to widget_value.to_s, widget_path %>
                    </li>
                  <% end %>
                <% end %>
              <% end%>
          <% else %>
              <% if widget_value != 'Logout' %>
                <li>
                <%= link_to widget_value.to_s, widget_path %>
                </li>
              <% end%>
          <% end %>
          <% end %>
        </ul>
      </div>
    </nav> -->
    <script>
      $('.dropdown-toggle').dropdown()
    </script>
    <script>
        $(".dropdown-menu a").click(function(){
            $(this).parents(".nav-item").find('.nav-link').text($(this).text());
            $(this).parents(".nav-item").find('.nav-link').val($(this).text());
        });
    </script>
  </header>

  <main role="main">
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
    <footer class="container">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© University of Kiel. Information systems · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
  </main>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->


      <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <!--  <script src="../../../../assets/js/vendor/holder.min.js"></script> -->

 <script>window.jQuery || document.write('<script src="/js/jquery-1.12.4.min.js">\x3C/script>')</script>
 <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <!-- Dropdown -->

  <svg xmlns="http://www.w3.org/2000/svg" width="500" height="500" viewBox="0 0 500 500" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;">
    <defs><style type="text/css"></style></defs><text x="0" y="25" style="font-weight:bold;font-size:25pt;font-family:Arial, Helvetica, Open Sans, sans-serif">500x500</text></svg>
  </body>
  <style>
    footer, header {
      display: none;
    }
  </style>
</html>
